/* [project]/app/css/structure.css [app-client] (css) */
html {
  background: #eee;
}

body {
  text-align: center;
  margin: 17px 0 15px;
  padding: 0;
  font-family: Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
  font-size: small;
}

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object, output {
  display: block;
}

#container {
  text-align: left;
  -o-box-shadow: #0003 0px 0px 5px;
  background: #fff;
  border: 1px solid #ccc;
  width: 640px;
  margin: 0 auto 10px;
  box-shadow: 0 0 5px #0003;
}

form.wufoo {
  margin: 20px 14px 0;
  padding: 0 0 20px;
  position: relative;
}

#logo {
  text-indent: -9000px;
  background-color: #dedede;
  min-height: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#logo a {
  background: url("/images/wflogo.png") 0 0 no-repeat;
  height: 40px;
  min-height: 40px;
  display: block;
  overflow: hidden;
}

* html #logo a {
  _background-image: none;
  _filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "/images/wflogo.png", sizingMethod= "crop");
}

img, a img {
  -ms-interpolation-mode: bicubic;
  border: none;
}

.hide, .cloak div, .cloak span, .likert.cloak tbody, .likert.cloak thead {
  display: none !important;
}

.likert.cloak table {
  border: none;
}

/* [project]/app/css/theme.css [app-client] (css) */
* html #logo a {
  filter: progid:DXImageTransform. Microsoft. AlphaImageLoader(src= "/images/wflogo.png", sizingMethod= "crop");
  background-image: none;
}

html {
  background-color: #eee;
  background-image: none;
}

#logo {
  background-color: #dedede;
  background-image: none;
}

.redesigned-theme-2018 #logo {
  background-color: #fff;
}

#redesigned-theme-2018.embed {
  background-color: #0000;
}

#container, html.embed {
  background-color: #fff;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select, .wufoo .wufoo-dropdown .wufoo-dropdown-control {
  border: 1px solid Background color "FFFFFF url(/images/fieldbg.gif) repeat-x top" is not a hex color value. # ;
  border-bottom: 1px solid Background color "FFFFFF url(/images/fieldbg.gif) repeat-x top" is not a hex color value. # ;
  border-right: 1px solid Background color "FFFFFF url(/images/fieldbg.gif) repeat-x top" is not a hex color value. # ;
  background: #fff url("/images/fieldbg.gif") top repeat-x;
}

.wufoo .wufoo-dropdown .wufoo-dropdown-menu {
  background: #fff url("/images/fieldbg.gif") top repeat-x;
}

.safari .wufoo select.select {
  font-size: 100% !important;
}

.safari .wufoo input.file {
  background: none;
  border: none;
}

.wufoo li.focused {
  background-color: #fff7c0 !important;
}

.wufoo .instruct {
  background-color: #f5f5f5;
}

.redesigned-theme-2018 .wufoo .user-instructions small, .redesigned-theme-2018 .wufoo .user-instructions:focus:after, .redesigned-theme-2018 .wufoo .user-instructions:hover:after {
  background-color: #fff;
}

#container {
  border: 1px solid #ccc;
}

.redesigned-theme-2018#container {
  border: none;
}

.wufoo .info, .wufoo .paging-context {
  border-bottom: 1px dotted #ccc;
}

.wufoo .section h3, .wufoo .captcha, #payment .paging-context {
  border-top: 1px dotted #ccc;
}

.redesigned-theme-2018 .wufoo .info, .redesigned-theme-2018 .wufoo .paging-context {
  border-bottom: 1px solid #ccd0d9;
}

.redesigned-theme-2018 .wufoo .section h3, .redesigned-theme-2018 .wufoo .captcha, .redesigned-theme-2018 #payment .paging-context {
  border-top: 1px dotted #ccd0d9;
}

.wufoo .instruct {
  border: 1px solid #e6e6e6;
}

.redesigned-theme-2018 .wufoo .user-instructions small {
  border: 1px solid #d0d2d3;
}

.redesigned-theme-2018 .wufoo .user-instructions:hover:before, .redesigned-theme-2018 .wufoo .user-instructions:focus:before, .redesigned-theme-2018 .wufoo .user-instructions:hover:after, .redesigned-theme-2018 .wufoo .user-instructions:focus:after {
  border: none;
}

.fixed .info {
  border-bottom: none;
}

.wufoo li.section.scrollText {
  border-color: #dedede;
}

.wufoo .info h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  color: #000 !important;
  font-size: 160% !important;
}

.redesigned-theme-2018 .wufoo .info h2 * {
  font-family: inherit;
}

.redesigned-theme-2018 .wufoo .info h2 {
  color: #282828 !important;
  font-size: 34px !important;
  font-weight: 300 !important;
}

.wufoo .info div {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  color: #444 !important;
  font-size: 95% !important;
}

.redesigned-theme-2018 .wufoo .info div * {
  font-family: inherit;
}

.redesigned-theme-2018 .wufoo .info div {
  font-size: 26px !important;
}

.redesigned-theme-2018 .info div {
  color: #282828 !important;
  font-weight: 300 !important;
}

.wufoo .section h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  color: #000 !important;
  font-size: 110% !important;
}

.redesigned-theme-2018 .wufoo .section h3 * {
  font-family: inherit;
}

.redesigned-theme-2018 .wufoo .section h3 {
  color: #282828 !important;
  font-size: 26px !important;
  font-weight: 300 !important;
}

.wufoo .section div {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  color: #444 !important;
  font-size: 85% !important;
}

.redesigned-theme-2018 .wufoo .section div * {
  font-family: inherit;
}

.redesigned-theme-2018 .wufoo .section div {
  color: #282828 !important;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.wufoo label.desc, .wufoo legend.desc, .likert caption {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  color: #444 !important;
  font-size: 95% !important;
}

.redesigned-theme-2018 .wufoo li.paging-context b *, .redesigned-theme-2018 .wufoo li .wufoo-dropdown *, .redesigned-theme-2018 .wufoo label.choice *, .redesigned-theme-2018 .wufoo label.desc *, .redesigned-theme-2018 .wufoo legend.desc *, .redesigned-theme-2018 .likert thead td *, .redesigned-theme-2018 .likert tbody label *, .redesigned-theme-2018 .likert caption * {
  font-family: inherit;
}

.redesigned-theme-2018 .wufoo label.desc, .redesigned-theme-2018 .wufoo legend.desc, .redesigned-theme-2018 .likert caption {
  color: #282828 !important;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.wufoo label.choice {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  color: #444 !important;
  font-size: 100% !important;
}

.redesigned-theme-2018 .wufoo li span:not(.star) {
  font-size: 18px !important;
}

.redesigned-theme-2018 .wufoo li div span.choice__text {
  font-size: 15px !important;
}

.redesigned-theme-2018 .wufoo li span, .redesigned-theme-2018 .wufoo li span label, .redesigned-theme-2018 .wufoo li div span.choice__text, .redesigned-theme-2018 .wufoo ul li span.symbol .redesigned-theme-2018 li div span.choice__qty, .redesigned-theme-2018 li div span.choice__qty span, .redesigned-theme-2018 .wufoo li.focused span {
  color: #7f8189;
}

.redesigned-theme-2018 .wufoo label.desc, .redesigned-theme-2018 .wufoo legend.desc, .redesigned-theme-2018 .likert caption {
  color: #434a54;
}

.redesigned-theme-2018 .wufoo li .wufoo-dropdown-menu {
  color: #212121;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select, .wufoo li .wufoo-dropdown span {
  font-style: normal;
  font-weight: normal;
  color: #333 !important;
  font-size: 100% !important;
}

.redesigned-theme-2018 .wufoo input.text, .redesigned-theme-2018 .wufoo textarea.textarea, .redesigned-theme-2018 .wufoo textarea.textarea::placeholder, .redesigned-theme-2018 .wufoo input.file, .redesigned-theme-2018 .wufoo select.select, .redesigned-theme-2018 .wufoo li .wufoo-dropdown span {
  font-size: 15px !important;
}

.redesigned-theme-2018 .wufoo input.text, .redesigned-theme-2018 .wufoo textarea.textarea, .redesigned-theme-2018 .wufoo input.file, .redesigned-theme-2018 .wufoo select.select, .redesigned-theme-2018 .wufoo li .wufoo-dropdown span {
  color: #212121 !important;
  font-weight: 300 !important;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .redesigned-theme-2018 .wufoo input.text, .redesigned-theme-2018 .wufoo textarea.textarea, .redesigned-theme-2018 .wufoo input.file {
  font-family: inherit;
}

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
  color: #444;
  font-family: inherit;
}

.safari .wufoo input.file {
  color: #444;
  font-family: inherit;
  font-size: 100%;
}

.wufoo .instruct small, .redesigned-theme-2018 .wufoo label.desc .user-instructions small {
  color: #444;
  font-family: inherit;
  font-size: 80%;
  font-style: normal;
  font-weight: normal;
}

.redesigned-theme-2018 .wufoo label.desc .user-instructions, .redesigned-theme-2018 .wufoo legend.desc .user-instructions {
  font-size: 15px !important;
}

.redesigned-theme-2018 .wufoo label.desc .user-instructions small, .redesigned-theme-2018 .wufoo legend.desc .user-instructions small {
  line-height: normal;
  color: #6b787f !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 300 !important;
}

.altInstruct small, li.leftHalf small, li.rightHalf small, li.leftThird small, li.middleThird small, li.rightThird small, .iphone small {
  color: #444 !important;
}

.wufoo li.focused label.desc, .wufoo li.focused legend.desc, .wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label, .safari .wufoo li.focused input.file {
  color: #000;
}

.confirm h2 {
  color: #444;
  font-family: inherit;
}

a.powertiny b, a.powertiny em, .embed a.powertiny b, .embed a.powertiny em {
  color: #1a1a1a !important;
}

.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker {
  color: #444;
  font-family: inherit;
}

.pgStyle1 var, .pgStyle2 td {
  border: 1px solid #ccc;
}

.pgStyle1 .done var {
  background: #ccc;
}

.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em {
  color: #000;
  background: #fff7c0;
}

.pgStyle1 .selected var {
  border: 1px solid #e6dead;
}

.likert table {
  background-color: #fff;
}

.likert thead td, .likert thead th {
  background-color: #e6e6e6;
}

.likert tbody tr.alt td, .likert tbody tr.alt th {
  background-color: #f5f5f5;
}

.likert table, .likert th, .likert td {
  border-color: #dedede;
}

.likert td {
  border-left: 1px solid #ccc;
}

.likert caption, .likert thead td, .likert tbody th label {
  color: #444;
  font-family: inherit;
}

.redesigned-theme-2018 .likert thead td, .redesigned-theme-2018 .likert thead th, .redesigned-theme-2018 .likert tbody th label {
  color: #656d78;
}

.likert tbody td label {
  color: #575757;
  font-family: inherit;
}

.likert caption, .likert tbody th label {
  font-size: 95%;
}

.likert tbody tr:hover td, .likert tbody tr:hover th, .likert tbody tr:hover label {
  color: #000;
  background-color: #fff7c0;
}

.likert tbody tr:hover td {
  border-left: 1px solid #ccc69a;
}

.redesigned-theme-2018 .likert tbody tr:hover label, .redesigned-theme-2018 .likert tbody tr:hover td, .redesigned-theme-2018 .likert tbody tr:hover th {
  color: #444;
}

.wufoo #lola {
  background: #e6e6e6;
}

.wufoo #lola tbody td {
  border-bottom: 1px solid #ccc;
}

.wufoo #lola {
  color: #444;
  font-family: inherit;
}

.wufoo #lola tfoot th {
  color: #696969;
}

.wufoo .wfo_graph h3 {
  color: #444;
  font-family: inherit;
  font-size: 95%;
}

.wfo_txt, .wfo_graph h4 {
  color: #444;
}

.wufoo .footer h4 {
  color: #000;
}

.wufoo .footer span {
  color: #444;
}

.wfo_number {
  background-color: #f5f5f5;
  border-color: #dedede;
}

.wfo_number strong, .wfo_number em {
  color: #000;
}

#widget, #widget body {
  background: #fff;
}

.fcNav a.show {
  background-color: #fff;
  border-color: #ccc;
}

.fc table {
  border-left: 1px solid #dedede;
}

.fc thead th, .fc .more th {
  background-color: #dedede !important;
  border-right: 1px solid #ccc !important;
}

.fc tbody td, .fc tbody th, .fc tfoot th, .fc tfoot td {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #ccc;
}

.fc tbody tr.alt td, .fc tbody tr.alt th, .fc tbody td.alt {
  background-color: #f5f5f5;
}

.fc caption, .fcNav, .fcNav a {
  color: #444;
}

.fc tfoot, .fc thead th, .fc tbody th div, .fc tbody td.count, .fc .cards tbody td a, .fc td.percent var, .fc .timestamp span {
  color: #000;
}

.fc .indent .count {
  color: #4b4b4b;
}

.fc .cards tbody td a span {
  color: #7d7d7d;
}

.fc tbody tr:hover td, .fc tbody tr:hover th, .fc tfoot tr:hover td, .fc tfoot tr:hover th {
  background-color: #fff7c0;
}

.fc tbody tr:hover th div, .fc tbody tr:hover td, .fc tbody tr:hover var, .fc tfoot tr:hover th div, .fc tfoot tr:hover td, .fc tfoot tr:hover var {
  color: #000;
}

.invoice thead th, .invoice tbody th, .invoice tbody td, .invoice tfoot th, .invoice .total, .invoice tfoot .last th, .invoice tfoot .last td, .invoice tfoot th, .invoice tfoot td {
  border-color: #dedede;
}

.invoice thead th, .wufoo .checkNotice {
  background: #f5f5f5;
}

.invoice th, .invoice td {
  color: #000;
}

#ppSection, #ccSection {
  border-bottom: 1px dotted #ccc;
}

#shipSection, #invoiceSection {
  border-top: 1px dotted #ccc;
}

@media only screen and (max-width: 480px) {
  html {
    background-color: #fff;
  }

  a.powertiny b, a.powertin em {
    color: #1a1a1a !important;
  }
}

/*# sourceMappingURL=app_css_28a13a11._.css.map*/